.item-card {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 4px solid #EE872A;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
    background: #B1B1B1;
    z-index: 2;
}
.item-card.none {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 4px solid #EE872A;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
    background: #B1B1B1;
    z-index: 2;
    opacity: 0;
}
