.row>*{
    padding: 0;
    margin: 0;
}
.row{
    padding: 0;
    margin: 0;
}
.inner-wp{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}
.inner-wp p{
    margin: 0; 
}
.inner-wp a, p{
    height: 19px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.8);
}
.header-top{
    background-color: #92272d;   
}
.row{
    width: 100%;
    align-items: center;    
}
.header-body{
    max-width: 1200px;
    margin: 32px auto;   
}

.logo img{
    max-width: 100%;
    height: 34px;
    
}
.search-input{
    max-width: 100%;
    position: relative;
}
.search-input img{
    position: absolute;
    width: 22px;
    height: 24px;
    top: 10px;
    left: 15px;
    border: none;
    outline: none;
    
}
#search-input{
    padding: 10px 5px 10px 50px;
    width: 90%;
    border: none;
    outline: none;
    background-color: #fafafa;
    border-radius: 25px;
}
.user-info{
    display: flex;
    justify-content: space-between;   
}
.header-main-menu{
    max-width: 1200px;
    margin: 0 auto;
}
.header-main-menu ul{
    margin: 0 40px 32px 0 !important;
    padding: 0;
}
ul{
    display: inline-block;
}
li{
    list-style: none;
    /* margin-right: 40px; */
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    /* margin-bottom: 32px; */
}
li img{
    width: 14px;
    height: 8px;
}
.slice{
    max-width: 1440px;
    height: 514px;
    margin: 0 auto;
    background-color: #ffdbd5;
    position: relative;
    display: flex;
    margin-bottom: 24px !important;
}
.slice-info{
    max-width: 644px;
    margin: 40px 0 40px 120px;
    padding: 60px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
}
.slice-image{
    max-width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}
.slice-image img{
    width: 100%;
    height: 100%;
}
.info-section{
    font-family: NotoSansCJKkr;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 24px;
}
.info-time{
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}
.info-title{
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
}
.info-btn{
    display: flex;
    
}
.info-btn-1{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #92272d;
    padding: 9px 32px;
    border: solid 1px #d7d7d7;
    border-radius: 21px;
    margin-right: 8px;
}
.slice-number{
    justify-content: center;
    display: flex;  
    align-items: center; 
    margin-bottom: 80px;
}
.nb-first{
    width: 19px;
    height: 16px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #92272d;
    margin-right: 20px;
}
.nb-crossbar-1{
    width: 80px;
    height: 2px;
    background-color: #d7d7d7;
    border-radius: 1px;
    margin-right: 20px;
}
.nb-crossbar-2{
    width: 80%;
    height: 100%;
    background-color: #92272d;
}
.nb-auto{
    width: 19px;
    height: 16px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #d7d7d7;
    margin-right: 16px;
}
.product{
    max-width: 1200px;
    margin: 0 auto;
}
.product-section{
    height: 41px;
    opacity: 0.8;
    font-family: NotoSansCJKkr;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 24px;
    width: fit-content;
}
.product-crossbar{
    height: 4px;
    background-color: #d7d7d7;
    margin: 40px 0 120px 0;
}
.product-crossbar-1{
    width: 23%;
    height: 100%;
    background-color: #b2676c;
}
.product-festival{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.festival{
    margin-bottom: 6px;
}
.product-title{
    opacity: 0.8;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #000000;
}
.product-image-festival{
    width: 792px;
    
}
.product-image-festival img{
    width: 100%;
    height: 340px;
}
.product-image-title{
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
    margin: 24px 0 8px 0;
}
.now-price{
    display: flex;
    
}
.sale-off{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 2px 10px;
    background-color: #b2676c;
    margin-right: 8px;
}
.old-price{
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: line-through;
    margin-right: 8px;
}
.new-price{
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #92272d;
}
.pattern-section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}
.product-title img{
    width: 16px;
    height: 50%;
    margin: 4px 0 8px 4px;
}
.pattern-image{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.pattern-image-1, .pattern-image-2, .pattern-image-3{
    width: 390px;
}
.pattern-title{
    margin-top: 16px;
    font-weight: 600;
}
.pattern-info-image{
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.6);
}
.red{
    color: #92272d;
}
.smell{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.product-section{
    display: flex   ;
    align-items: center;
}
.smell-title{
    margin-bottom: 24px;
}
.header-main-menu li:hover{
    color: #e41b25;
    cursor: pointer;
}
.smell-select ul li{ 
    padding: 9px 16px;
    border: solid 1px #d7d7d7;
    display: inline-block;
}
ul{
    padding: 0 !important;
    margin: 0 !important;
}
.smell-select li:hover{
    background-color: #92272d;
    color: #ffffff;
    cursor: pointer;
}
.select{
    margin: 40px auto !important;
}
.sever-btn{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 9px 32px;
    background-color: #92272d;
    width: fit-content;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 120px !important;
}
.sever{
    margin: 40px 0 120px 0 !important;
}

.sever-select li{
    display: inline-block;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-right: 8px;
    padding: 9px 16px;
    border: solid 1px #d7d7d7;
}
.sever-select li:hover{
    background-color: #92272d;
    color: #ffffff;
}
.arm-wp{
    background-color: #fafafa;
    margin-bottom: 120px;
}
.arm{
    display: flex;
    justify-content: space-around;
    padding: 54px 0 48px 0;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arm-with{
    max-width: 235px;
    text-align: center;
}
.image{
    width: 100%;
}
.image-item-product{
    position: relative;
    width: 100%;
    height: 350px;
}
.image-item-product img{
    width: 100%;
    height: 100%;
}
.label-sale{
    width: 0; 
    height: 0;
    border-top: 100px solid #b2676c; 
    top: 0;
    border-right: 100px solid transparent; 
    position: absolute;
}
smell-select
.label-sale-1{
    width: 59px;
    font-size: 12px;
    position: absolute;
    transform: rotateZ(-45deg);
    left: 3%;
    top: 14px;
    text-align: center;
    color: #ffffff;
}
.sales-off{
    position: absolute;
    bottom: 0;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #b2676c;
    padding: 2px 10px;
}
.title-item-product{
    margin: 0 0 8px 0;
    line-height: 23px;
} 
.price{
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
}
.image{
    margin-bottom: 16px;
}
.product-menu{
    align-items: flex-start;
    justify-content: space-between;
}
.item-product{
    width: 23%;
}
.heart{
    position: absolute;
    top: 4px;
    right: 4px;
}
.heart svg{
    width: 24px;
    height: 24px;
    margin: 11px;
}
.glass{
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 30px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
}
.glass svg{
    width: 24px;
    height: 24px;
    margin: 14px;
}
.smell-select{
    margin-bottom: 24px;
}
.sever-select{
    margin-bottom: 24px;
}
.arm-section{
    margin: 5px 0;
}
.arm-title{
    margin-bottom: 24px;
}
.arm-btn{
    padding: 9px 32px;
    border-radius: 21px;
    border: solid 1px #d7d7d7;
}
.arm-btn:hover {
    background-color: #92272d;
    color: #ffffff;
}
.info-btn-1:hover {
    background-color: #92272d;
    color: #ffffff;
}
.image-moment{
    position: relative;
    width: 390px;
    margin-bottom: 120px;
}
.image-moment img{
    width: 100%;
}
.menu-moment{
    justify-content: space-between;
}
.moment-title-bold{
    font-weight: 500;
}
.moment-title-nomal{
    color: rgba(0, 0, 0, 0.6);
}
.group{
    margin-bottom: 120px;
}
.group img{
    width: 98%;
}
.group-section{
    height: 32px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    margin: 16px 0 4px 16px;
}
.group-title{
    height: 24px;
    opacity: 0.8;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #000000;
    margin: 0 0 24px 16px;
}
.group-btn{
    width: fit-content;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 9px 32px;
    background-color: #92272d;
    margin-left: 16px;
    border-radius: 25px;
}
.footer{
    background-color: #fafafa;
    margin: 0;
}
.border{
    height: 1px;
    background-color: #d7d7d7;
}
.footer-top{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 25px 0;
}
.footer-top-right{
    display: flex;
}
.footer-top-left img{
    height: 30px;
    margin: 4px 0;
}
.footer-top-right-app img{
    height: 22px;
    margin: 8px 0;
    margin-right: 16px !important;
}
.footer-top-right-download img{
    height: 38px;
    margin-left: 8px;
    
}
.app-store img{
    margin-left: 16px !important;
}
.footer-body{
    width: 1200px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 60px;
}
.footer-body-1, .footer-body-2,.footer-body-3,.footer-body-4,.footer-body-5{
    display: flex;
}
.colum1{
    width: 40%;
}
.colum2{
    width: 15%;
}
.footer-body-3 img{
    height: 12px;
    width: 16px;
    border-radius: 1px;
}

.footer-body-section{
    height: 24px;
    opacity: 0.8;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 12px;
}
.footer-title{
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.6);
}
.footer-body-title{
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
}
.close{
    background-color: #92272d;
}
.footer-bottom{
    width: 1200px;
    padding: 24px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-right{
    display: flex;
}
.footer-bottom-left{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}
.bold{
    font-weight: bold;
}
.footer-bottom-1{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}
.footer-bottom-2{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}
.border-right{
    width: 2px;
    height: 12px;
    margin: 4px 20px;
    background-color: #ffffff;

}
