*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
i{
    display: inline-block;
    padding-top: 5px;
    color: #ff8b8b;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
ul{
    margin: 0;
    padding: 0;
}
a:hover{
    color: #000000;
    text-decoration: none;
}


/* Header */
.header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}
.header-left{
    display: flex;
}
.social-icons{
    display: flex;
}

.menu{
    display: flex;
}
.menu li{
    margin-right: 30px;
}
.menu a:hover{
    color: #ff8b8b;  
}
.logo{
    width: 150px;
    margin-right: 30px;
}
.logo img{
    width: 100%;
}
.icons-item{
    margin-left: 10px;
    font-size: 16px;
}
.banner{
    width: 100%;
    /* height: 500px; */
}
.banner img{
    width: 100%;
    height: 100%;
}
.content-head{
    text-align: center;
    text-transform: uppercase;
}

.box-head{
    display: flex;
    justify-content: space-around;
}
.box-head-item{
    width: 30%;
    text-align: center;
}
.box-head-item-image {
    padding: 20px 100px;
}
.box-head-item-image img{
    width: 100%;
    height: 100%;
    opacity: 80%;
}
.box-head-item-title{
    margin-top: 10px;
}

/* END HEADER*/



.over-view{
    padding: 50px 0;
}
.section{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
/* STORY  */
.box-story {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.story-left, .story-right {
    flex-basis: 45%;
    z-index: 1000;
}

.story-left {
    /* padding: 0 100px; */
    border: 1px solid;
    border-radius: 25px;
    /* height: 563px; */
    background-color: #ffffff;
}
.story-image img {
    margin: 0 auto;
    display: block;
    max-width: 80%;
    
}
.story-section{
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.story-title{
    margin-bottom: 20px;
    font-weight: 700;
}
.story-content{
    margin-bottom: 10px;
}
.style-li li{
    list-style-type: circle;
}
.style-li{
    padding-left: 20px;
}
.story{
    padding-bottom: 50px;
    background-color: #f6cfca3a;
    position: relative;
}
.story-header-background {
    position: absolute;
    top: 0;
}
.story-header-background{
    width: 100%;
    height: 155px;
    background-color: #f6cfca;
}

/* END STORY  */

.album-item{
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.album-img img{
    border-radius: 25px;
}
/* .album-title{
    position: absolute;
} */
.album-img img{
    transform: scale(1);
    transition: all 2s ease-in-out;
}
.album-item:hover img{
    opacity: 0.8;
    transform: scale(1.3);
    border-radius: 25px;
}
.album-title{
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    background: #ffffff9a;
    border-radius: 25px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 1000;
    white-space: nowrap;
}
.album-img {
    border-radius: 25px;
    overflow: hidden;
}
.album-item:hover .album-title{
    background: #f6cfcac9;
    transition: 0.3s;
}
.album{
    text-align: center;
    padding: 50px 0 30px 0;
}

.btn-more{
    padding: 10px 40px;
    border: 1px solid #000000;
    border-radius: 25px;
    background: #ffffff;
    display: inline-block;
    font-weight: 700;
    transition: 0.3s;
    margin-top: 20px;
    opacity: 0.4;
}
.btn-more:hover a{
    color: #ffffff;
    opacity: 1;
}
.btn-more:hover{
    opacity: 1;
    background: #f6caca;
    border: 1px solid #f6caca;
}
.dress{
    background: #f6cfca3a;
    padding: 50px 0 30px 0;
    text-align: center;
}
.dress-item{
    position: relative;
    overflow: hidden;
}
.dress-item-title{
    position: absolute;
    padding: 5px;
    background: #ffffff9a;
    max-width: 100%;
    bottom: -82px;
    left: 15px;
    right: 15px;
    transition: all 1s ease-in-out;
}
.dress-item-content{
    text-align: justify;
    line-height: normal;
}
.dress-item:hover .dress-item-title{
    bottom: 0;
}

.dress-item:hover img {
    opacity: 0.7;
}


/* COMMENT */
.comment-item{
    text-align: center;
    padding: 20px 20px;
}
.comment-image img{
    width: 50%;
    border-radius: 100px;
}
.title{
    font-weight: 600;
}
.comment-content{
    text-align: justify;
}
.comment-title{
    margin-top: 5px;
    margin-bottom: 10px;
}
.comment{
    padding: 50px 0 50px 0;
}
/* END COMMENT */

/* NEW */
.card-title{
    font-size: 14px;
    font-weight: 600;
}
.card-text{
    margin-bottom: 20px;
    font-size: 12px;
}
.new{
    background: #f6cfca3a;
    padding: 50px 0;
}
.btn-primary{
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    font-size: 14px;
}
.btn-primary:hover{
    background: #f6caca;
    color: #ffffff;
    border: 1px solid #f6caca;
}

/* END NEW */

/* FOOTER */
.footer{
    padding: 50px 0 30px 0;
    position: relative;
}

/* hover*/
.footer::before{
    content: "";
    height: 1px;
    background: #f6caca;
    position: absolute;
    top: 0;
    width: 100%;

}
.footer-section{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.footer-section::after{
    content: "";
    width: 40px;
    height: 3px;
    background: #f6caca;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.footer-item{
    padding-right: 40px;
}

.footer-title{
    justify-content: center;
    position: relative;
    padding-left: 25px;
    margin: 20px 0;
}
.footer-title i{
    position: absolute;
    left: 0;
}
.footer-title::after{
    content: "";
    height: 1px;
    background: #f6caca;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.footer-icon-item{
    width: 40px;
    display: inline-block;
    margin: 30px 20px 30px 0;
}
.input{
    margin-top: 20px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.input-email{
    margin-top: 10px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.btn-login{
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #000000;
    background: #f6caca;
    display: inline-block;
}
#fb-root{
    padding-top: 20px;
}


